<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag 'jquery' %>
<%= stylesheet_link_tag 'extra_buttons' %>
<link href="/stylesheets/opd_cohort.css" media="screen" rel="stylesheet" type="text/css" />
<script>

  jQuery(document).ready(function($) {
<% if @report_name.upcase == "DISAGGREGATED_DIAGNOSIS" %>
	  document.forms[0].action = "disaggregated_diagnosis"
<% elsif @report_name.upcase == "DIAGNOSIS_REPORT" %>
	  document.forms[0].action = "diagnosis_report"
<% elsif @report_name.upcase == "DIAGNOSIS_REPORT_GRAPH" %>
	  document.forms[0].action = "diagnosis_report_graph"
<% elsif @report_name.upcase == "DIAGNOSIS_BY_ADDRESS" %>
	  document.forms[0].action = "diagnosis_by_address"
<% elsif @report_name.upcase == "TOTAL_REGISTERED" %>
	  document.forms[0].action = "total_registration"
<% elsif @report_name.upcase == "TOTAL_REGISTERED_GRAPH" %>
	  document.forms[0].action = "total_registration_graph"
<% elsif @report_name.upcase == "PATIENT_LEVEL_DATA" %>
	  document.forms[0].action = "patient_level_data"
<% elsif @report_name.upcase == "SHIFT_REPORT" %>
	  document.forms[0].action = "shift_report"
 <% elsif @report_name.upcase == "REFERALS_GRAPH" %>
	  document.forms[0].action = "referals_graph"
 <% elsif @report_name.upcase == "IDSR MONTHLY SUMMARY REPORT" %>
    document.forms[0].action = "monthly_idsr_report"
<% else %>
	  document.forms[0].action = "referals"
<% end %>
  });

</script>
<style>

  .tt_controls_start_month .keyboard{display:none;}
  #tt_page_start_month .options{height:515px;}
  #tt_page_start_month .options li{font-size:30px;}

  .tt_controls_end_month .keyboard{display:none;}
  #tt_page_end_month .options{height:515px;}
  #tt_page_end_month .options li{font-size:30px;}

  #tt_page_select_age_group_s .options{height:515px;}

  .tt_controls_start_day #Unknown { display:none; }
  .tt_controls_end_day #Unknown { display:none; }

</style>

<form name='idsr_monthly_summary' method='post' >
  <% month_names = month_name_options.gsub('<option value="Unknown">Unknown</option>', '') %>

  <%= text_field_tag "start_date", nil, {
    :helpText => 'Start Date',
    :field_type => 'date',
    :tt_pageStyleClass => "Numeric NumbersOnly",
    :validationJS => "setDOB();" }  %>

    <%= text_field_tag "end_date", nil, {
      :helpText => 'End Date',
      :field_type => 'date',
      :tt_pageStyleClass => "Numeric NumbersOnly",
      :validationJS => "setDOB();" }  %>

	<% if ["TOTAL_REGISTERED", "DIAGNOSIS_BY_ADDRESS", "PATIENT_LEVEL_DATA", "DIAGNOSIS_REPORT","DIAGNOSIS_REPORT_GRAPH"].include?(@report_name.upcase) %>
	  <%= select_tag "age_groups", options_for_select(["", "< 6 months",
		  "6 months to < 1 yr", "1 to < 5", "5 to 14", "> 14 to < 20", "20 to 30", ">30 to < 40", "40 to < 50", "ALL"]),
		{	:helpText => 'Select Age Group (s)',
		:id => "age_groups",
		:multiple => true } %>

	<% end %>

  <%= hidden_field_tag "report_name", @report_name %>
</form>
