  <%= javascript_include_tag "barcode" %>
  <script>
    var tt_cancel_destination = "/logout"
    

  function setupBarcode(){

    if(tstCurrentPage > 0){
      return;
    }

    var value = __$("touchscreenInput" + tstCurrentPage).value;

    if(value && value.match(/\$$/)){
      gotoNextPage();
    }else{
      setTimeout("setupBarcode()", 200);
    }
  }

  function inform() {
      $('infoBar'+tstCurrentPage).innerHTML = "<%= welcome_message %>";  
    }           
  </script>

  <%= error_messages_for 'user' %>
  
<form id='sessions' action="/sessions/create" method='post'>
  <% login_with_barcode  = get_global_property_value("login_with_barcode") rescue "false" %>
  <% if login_with_barcode %>
 <label for="login">Barcode</label>
    <%= text_field_tag(:login_barcode, nil, :helpText => "Scan your login barcode",
        :optional => true, :textCase => "lower",
        :tt_onLoad => "$('keyboard').style.display = 'none'; inform(); setTimeout('setupBarcode()', 200);") %><br>

      <label for="login">Username</label>
      <%= text_field_tag(:login, nil, :helpText => "Enter user name",
                         :textCase => "lower", :tt_onLoad => "inform(); barcodeId = 'touchscreenInput1';", :condition => "$('login_barcode').value == ''") %><br>

      <label for="password">Password</label>
      <%= password_field_tag(:password, nil, :helpText => "Enter password",
                             :textCase => "lower", :tt_onLoad => "inform(); barcodeId = 'touchscreenInput2';", :condition => "$('login_barcode').value == ''") %><br>
 <% else %>
    <label for="login">Username</label>
    <%= text_field_tag(:login, nil, :helpText => "Enter user name", 
        :textCase => "lower", :tt_onLoad => "inform();") %><br>

    <label for="password">Password</label>
    <%= password_field_tag(:password, nil, :helpText => "Enter password", 
        :textCase => "lower", :tt_onLoad => "inform();") %><br>

    <%= submit_tag value="Submit"%>
   <%end%>
</form>

