<script>
  tt_cancel_destination = "/clinic";

  function setPropertyValue() {
    if (document.getElementById('value').value == 'Yes') {
      document.getElementById('property_value').value = 'yes';
    }else if (document.getElementById('value').value == 'No') {
      document.getElementById('property_value').value = 'no';
    }
  }
</script>

<% form_tag 'creation', :method => :post do %>
  <%= select_tag("property", options_for_select([" ", "Yes", "No"]),
    :tt_onUnLoad => "setPropertyValue()" ,
    :id => 'value',
    :helpText  => params[:value].gsub('_',' ').humanize) %>

  <%
  case params[:value]
  when 'use_extended_staging_format'
    property = 'use.extended.staging.questions'
  when 'use_user_selected_activities'
    property = 'use.user.selected.activities'
  when 'use_filing_numbers'
    property = 'use.filing.number'
  when 'show_lab_results'
    property = 'show.lab.results'
  when 'ask_social_history_questions'
    property = 'ask.social.history.questions'
  when 'ask_life_threatening_condition_questions'
    property = 'ask.life.threatening.condition.questions'
  when 'ask_triage_category_questions'
    property = 'ask.triage.category.questions'
  when 'ask_vitals_questions_before_diagnosis'
    property = 'ask.vitals.questions.before.diagnosis'
  when 'ask_social_determinants_questions'
    property = 'ask.social.determinants.questions'
  when 'ask_complaints_under_vitals'
    property = 'ask.complaints.under.vitals'
  when 'ask_complaints_before_diagnosis'
    property = 'ask.complaints.before_diagnosis'
  when 'use_column_interface'
    property = 'use.column.interface'
  when 'show_tasks_button'
    property = 'show.tasks.button'
  when 'confirm_before_creating_a_patient'
    property = 'confirm.before.creating'
  when 'point_of_care_system'
    property = 'point_of_care'
  when 'is_this_malaria_enabled_facility?'
    property = 'malaria.enabled.facility'
  when 'does_this_system_share_database_with_bart?'
    property = 'database.sharing'
  when 'specimen_label_print?'
    property = 'specimen.label.print'
  end
%>
  <%if params[:redirect].present? %>
      <%= hidden_field_tag "redirect", params[:redirect] %>
  <%end%>
  <%= hidden_field_tag "property", property %>

  <%= hidden_field_tag "property_value", nil %>
<%end%>
