<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag 'utils' %>

<script type="text/javascript">
    var tt_cancel_destination = "/patients/show/<%= @patient.patient_id %>"
    var sessionDate = '<%= session[:datetime] %>'

    function set_ajaxURL_for_suggestions(value) {
        url = "/encounters/concept_options?search_string=" + value
        $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url);
        listSuggestions(tstCurrentPage);
    }

    diagnoses_requiring_details = '<%= "#{@diagnoses_requiring_details}" %>';
    diagnoses_requiring_specification = '<%= "#{@diagnoses_requiring_specification}"%>';

    function submit() {
        document.forms["inpatient_diagnosis"].submit();
    }

    function updatePreferredDiagnosisTextColor(){
        //jQuery("li[preferred='true']").css("color", 'green');
    }

    window.setInterval("updatePreferredDiagnosisTextColor();", 50);
    <% if (CoreService.get_global_property_value("malaria.enabled.facility") == true) %>
    var malariaTestStatus = '<%= @malaria_test_status %>';
    function setAttributes(){
        if (sessionDate.length == 0){ //We don't want the popup during back data entry
            if (malariaTestStatus.match(/no_orders/i) || malariaTestStatus.match(/waiting_results/i) || malariaTestStatus.match(/negative/i)){
                liElements = jQuery("li");
                for (var i = 0; i <= liElements.length - 1; i++){

                    if (liElements[i].innerHTML.match(/MALARIA/i)){
                        liElements[i].setAttribute("onmousedown", "null; updateTouchscreenInputForSelect(this); showMalariaConfirmationPopup();");
                        break;
                    }

                }
            }
        }
    }

    window.setInterval("setAttributes();", 350);
    function showMalariaConfirmationPopup(){
        document.getElementById("popup-div").style.display = 'inline';
        document.getElementById("cover").style.display = 'inline';
    }

    function hidePopup(){
        clearInput();
        document.getElementById("popup-div").style.display = 'none';
        document.getElementById("cover").style.display = 'none';
    }
  <%end%>
  var patientHasSymptoms = <%= @patient_has_symptoms%>;
    //redirect to presenting complaints page if patient has no symptoms
    if (patientHasSymptoms == false){
        window.location = "/encounters/idsr_complaints?source=diagnosis&patient_id="+<%= @patient.id%>;
    }

</script>

<style type="text/css">

    .my_button {
        -moz-user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: bolder;
        line-height: 1.82857;
        margin-bottom: 0;
        padding: 6px 56px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
        float: right;
        margin-top: -5px;
    }


    #popup-div {
        display: none;
        background-color: #F4F4F4;
        border: 2px solid #E0E0E0;
        border-radius: 15px;
        height: 270px;
        padding: 5px;
        position: absolute;
        margin-top: 100px;
        width: 560px;
        margin-left: 430px;
        z-index: 991;
    }

    #popup-header{
        border-bottom: 2px solid #7D9EC0;
        margin-left: -5px;
        width: 101.5%;
        background-color: #FFFFFF;
        margin-top: -5px;
        padding-top: 5px;
        border-radius: 15px 15px 0 0;
        font-size: 14pt;
        font-weight: bolder;
    }

    #cover{
        display: none;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 102%;
        left: 0%;
        top: 0%;
        z-index: 990;
        opacity: 0.65;
    }

    #yes, #no {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>

<form id='inpatient_diagnosis' action="/encounters/create" method='post'>

  <%= hidden_field_tag "encounter[encounter_type_name]", "OUTPATIENT DIAGNOSIS" %>
  <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
  <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
  <%= hidden_field_tag "encounter[provider_id]", current_user.person_id %>

  <%= touch_select_tag "PRIMARY DIAGNOSIS", @patient, nil,
                       { :id => "primary_diagnosis",
                         :tt_onLoad => "setAttributes();",
                         :ajaxURL => "/encounters/diagnoses?search_string=",
                         :helpText => "Primary Diagnosis" } %>

  <%= touch_select_tag "DETAILED PRIMARY DIAGNOSIS", @patient, nil,
                       { :id => "primary_diagnosis_details",
                         :parent_concept_name => "PRIMARY DIAGNOSIS",
                         :condition => 'diagnoses_requiring_details.contains($("primary_diagnosis").value.toUpperCase())',
                         :tt_onLoad => 'set_ajaxURL_for_suggestions(document.getElementById("primary_diagnosis").value); setAttributes();',
                         :helpText => "Detailed primary diagnosis" } %>

  <%= touch_text_field_tag "SPECIFIC PRIMARY DIAGNOSIS", @patient, nil,
                           { :id => "specific_diagnosis",
                             :parent_concept_name => "PRIMARY DIAGNOSIS",
                             :condition => 'diagnoses_requiring_specification.contains($("primary_diagnosis").value.toUpperCase())',
                             :allowFreeText => 'true',
                             :textCase => "upper",
                             :helpText => "Specific primary diagnosis" } %>

  <%= touch_select_tag "SECONDARY DIAGNOSIS", @patient, nil,
                       { :id => "additional_diagnosis_0",
                         :optional => true,
                         :tt_onLoad => "setAttributes();",
                         :ajaxURL => "/encounters/diagnoses?search_string=",
                         :helpText => "Secondary Diagnosis" } %>

  <%= touch_select_tag "DETAILED SECONDARY DIAGNOSIS", @patient, nil,
                       { :id => "secondary_diagnosis_details",
                         :parent_concept_name => "SECONDARY DIAGNOSIS",
                         :condition => 'diagnoses_requiring_details.contains($("additional_diagnosis_0").value.toUpperCase())',
                         :ajaxURL => "/encounters/daignosis_details?search_string=",
                         :tt_onLoad => 'set_ajaxURL_for_suggestions(document.getElementById("additional_diagnosis_0").value)',
                         :helpText => "Detailed secondary diagnosis" } %>

  <%= touch_text_field_tag "SPECIFIC SECONDARY DIAGNOSIS", @patient, nil,
                           { :id => "sec_specific_diagnosis",
                             :parent_concept_name => "SECONDARY DIAGNOSIS",
                             :condition => 'diagnoses_requiring_specification.contains($("additional_diagnosis_0").value.toUpperCase())',
                             :allowFreeText => 'true',
                             :textCase => "upper",
                             :ajaxURL => "/encounters/daignosis_details?search_string=",
                             :helpText => "Specific secondary diagnosis" } %>

  <% counter = 0

     4.times do %>
      <% counter += 1%>
      <%= touch_select_tag "ADDITIONAL DIAGNOSIS", @patient, nil,
                           { :id => "additional_diagnosis_#{counter}",
                             :ajaxURL => "/encounters/diagnoses?search_string=",
                             :tt_onLoad => "setAttributes();",
                             :condition => "$('additional_diagnosis_#{counter-1}').value != '';",
                             :optional => "true",
                             :helpText => "Additional Diagnosis" } %>

      <%= touch_select_tag "DETAILED ADDITIONAL DIAGNOSIS", @patient, nil,
                           { :id => "additional_secondary_diagnosis_details_#{counter}",
                             :parent_concept_name => "ADDITIONAL DIAGNOSIS",
                             :condition => "diagnoses_requiring_details.contains($('additional_diagnosis_#{counter}').value.toUpperCase())",
                             :ajaxURL => "/encounters/daignosis_details?search_string=",
                             :tt_onLoad => "set_ajaxURL_for_suggestions(document.getElementById('additional_diagnosis_#{counter}').value);",
                             :helpText => "Detailed additional diagnosis" } %>

      <%= touch_text_field_tag "SPECIFIC ADDITIONAL DIAGNOSIS", @patient, nil,
                               { :id => "additional_specific_diagnosis_#{counter}",
                                 :parent_concept_name => "ADDITIONAL DIAGNOSIS",
                                 :condition => "diagnoses_requiring_specification.contains($('additional_diagnosis_#{counter}').value.toUpperCase())",
                                 :allowFreeText => 'true',
                                 :textCase => "upper",
                                 :helpText => "Additional specific secondary diagnosis" } %>
  <% end %>

<%#= touch_text_area_tag "CLINICAL NOTES CONSTRUCT", @patient, nil,
{
:id => "clinical_notes",
:optional => true,
:helpText => "Clinical notes (optional)"
}
%>

  <% if @retrospective %>
      <p><label for="filter_provider">Staff who provided the information (Provider)</label></br>
        <%= text_field "filter" , 'provider', :helpText => 'Staff who provided the information (Provider)', :ajaxURL => '/user/username?username=' %></p>
  <% else %>
      <%= hidden_field_tag "filter[provider]", nil %>
  <% end %>
  <%= submit_tag "Finish" %>

</form>

<div id="popup-div">
  <div id="popup-header">
    <center>Confirm</center>
  </div><br />
  <div>

    <span style="font-size: 16pt;">
      <center>
        <i><b><%= @patient_malaria_notification %></b></i><br />
        Are you sure you want to select malaria as your final diagnosis?
      </center>
    </span>
    <div style="padding-top: 65px;">
      <span id="yes" onclick="continueProcess();" class="my_button" style="position: relative;">Yes</span>
      <span id="no" onclick="hidePopup();" class="my_button" style=" position: relative; right: 20px;">Cancel</span>
    </div>
  </div>
</div>
<div id="cover"></div>

<script>
 <% if (CoreService.get_global_property_value("malaria.enabled.facility") == true) %>
    <% if  session[:datetime].blank? %>
    jQuery('html').click(function() {
        jQuery("#popup-div").hide();
        if ($('touchscreenInput'+tstCurrentPage).value.match(/MALARIA/i)){
            if (malariaTestStatus.match(/no_orders/i) || malariaTestStatus.match(/waiting_results/i) || malariaTestStatus.match(/negative/i)){
                clearInput();
            }
        }
        jQuery("#cover").hide();
    });

    jQuery('#popup-div').click(function(event){
        event.stopPropagation();
    });

    function continueProcess(){
        jQuery("#popup-div").hide();
        jQuery("#cover").hide();
        gotoNextPage()
    }

    <% end %>
    <% end %>
</script>

