<%= stylesheet_link_tag "dashboard" %>
<%= stylesheet_link_tag "eidsr_overview_tab" %>
<script src="/javascripts/jquery-1.3.2.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="/javascripts/jquery.flot.js"></script>
<script src="/javascripts/touchscreenYesNo.js" type="text/javascript"></script>
<script type="text/javascript">

  jQuery(document).ready(function($) {
    $('#charts').empty().load('/patients/graph/<%= @patient.id -%>?data=weight_tab');
  })
</script>
<style>
  .even {
     border-radius: 15px;
  }
  .noneWarnings {color:black;background:orange;}
</style>

<table width= '100%'>
         <tr>
           <div id="qqq">
           <td rowspan="2" width ="50%" padding ="0">
                       <ul class="list" style="height:295px; border-radius: 15px;">

                         <% if @underline_diseases.blank? %>
                               <li class="data even">
                                 <span>No any underlined disease alerts for this patient</span>
                               </li>
                         <% else %>

                         <table border="0"; align="center"; width="100%">
                           <tr bgcolor="#e7e7e7">
                             <th>Underlined disease</th>
                             <th>Date diagonised</th>
                           </tr>

                             <% @underline_diseases.each do |u|%>
                                   <tr align="center">
                                     <td><%=h u.name%></td>
                                     <td><%=h u.obs_datetime.strftime("%Y/%m/%d")%></td>
                                   </tr>
                             <% end %>
                         </table>
                         <% end %>
                       </ul>
                     </div>
                   </td>

                   <td>
                     <div id="www">
                       <ul class="list small" style="height:140px; border-radius: 15px;">
                         <% for prog in @programs do %>
                             <li class="data <%= cycle('even', 'odd') %>" program="<%= prog.id %>">
                               <div class="program">
                                 <%=(h prog.program.name.humanize).gsub('Hiv','HIV').gsub('Tb','TB').gsub('Opd','OPD').gsub('Ipd','IPD') %> started <%=h prog.date_enrolled.strftime("%b-%Y") rescue 'Unknown' %>
                                 <br /><font class='patient_state'>Current state: <%=h prog.patient_states.last.to_s.humanize.gsub('-art','-ART').gsub('arvs','ARVs') %></font>
                               </div>
                             </li>
                           <% end %>
                           <% if @programs.empty? %>
                             <li class="data even">
                               <div class="program">There are no current programs for this patient</div>
                             </li>
                           <% end %>

                           <% if @pweight.blank? %>
                               <br/><li class="data">
                                 <span id="pweight">No any previous body weight record for this patient</span>
                               </li>
                           <% else %>
                             <br/><li class="data">
                               <span class="data">Previous body weight:  <%= @pweight%>Kg</span>
                               </li>
                         <% end %>
                           </ul>
                         </div>
                   </td>
                 </tr>

                 <tr>
                   <td>
                     <div id="eee">
                       <ul class="list small" style="height:140px; border-radius: 15px;">
                         <% for presc in @prescriptions do %>
                             <li class="data <%= cycle('even', 'odd') %>" prescription="<%= presc.id %>">
                               <div class="prescription"><%=h presc.to_s %></div>
                             </li>
                           <% end %>
                           <% if @prescriptions.empty? %>
                             <li class="data even">
                               <div class="prescription">There are no current prescriptions for this patient</div>
                             </li>
                           <% end %>
                         </ul>
                       </div>
                   </td>
                 </tr>
               </table>
</div>
