<style type="text/css">
  body {
    -moz-user-select:none;
	font-family: Arial,sans-serif;
  }

  #stats {
    width:98%;
    margin:10px;
    background:white;
    -moz-user-select:none;
  }

	#stats a {
		border-radius: 7px; 
		background-color: #669999;
		border-bottom: 1px outset black;
		border-style: outset;
		border-top: 1px outset black;
		color: white;
		display: block;
		padding: 10px 16px 10px 10px;
		text-align: center;
		text-decoration: none;
	}

  #stats td {
    width: 310px;
  }

  #table_div {
    overflow:auto;
    height: 280px;
    background-color: white;
    border: 1px #eee solid;
    border-width: 1px;
  }
</style>

<script>
  function setInnerHtmlData(id,path,result, target) {
    td = document.getElementById(id);
    if (result == "Transfer Patient in" || result=="Merge Patients" || result=="Create Barcode" || result=="Set Top 10 Diagnoses" || result=="Set Top 10 Drugs" || result=="View System Configuraton") {
      target = "_parent"
      td.innerHTML = "<a href ='" + path + "' target='" + target + "'>" +  result + "</a>"
      return td.innerHTML
    }
    path += "?dashboard=<%=@landing_dashboard%>"
    td.innerHTML = "<a href ='" + path + "' target='" + target + "'>" +  result + "</a>"
  }
</script>

<div id="tab">
  <h2>Select administration task</h2>
  <div id="table_div">

    <table id="stats">
      <% count = @reports.length  unless @reports.blank? %>
      <% (@reports || []).each do |name,path|
        count_up = 0
        count = 0 if @reports.blank?
      %>
        <% while count_up < count %>
          <tr>
            <td id = "<%=count_up+= 1%>"></td>
            <td id = "<%=count_up+= 1%>"></td>
            <td id = "<%=count_up+= 1%>"></td>
          </tr>
        <%end unless @reports.blank?%>
      <%end%>
    </table>


    <%
    count = @reports.length  unless @reports.blank?
    @reports.sort.reverse.map do | path, name | %>
      <script>
        setInnerHtmlData("<%=count%>","<%=path%>","<%=name%>", "_self");
      </script>
      <%count-=1%>
    <%end%>

  </div>
</div>
