<%
@reports = []
@reports << ['Change password',"/user/change_password/#{current_user.id}"]
@reports << ['Edit name',"/user/edit/#{current_user.id}"]
@reports << ['Preferred keyboard',"/user/properties/#{current_user.id}"]

if not Location.current_location.name.match(/Outpatient/i)
  @reports << ['Activities',"/user/activities/#{current_user.id}"]
end
if current_user.admin?
  @reports << ['Create user',"/user/new"]
  @reports << ['Edit user',"/user/select_user"]
  @reports << ['Set user roles',"/user/users"]
  @reports << ['Print User Barcode',"/user/barcodes"]
  @reports << ['Set related roles',"/user/set_role_role/#{current_user.id}"]
  if current_user.program_manager?
    @reports << ['View users',"/user/view_users"]
  end
end
%>


<style type="text/css">
  body {
    -moz-user-select:none;
	font-family: Arial,sans-serif;
  }

  #stats {
    width:98%;
    margin:10px;
    background:white;
    -moz-user-select:none;
  }

	#stats a {
		border-radius: 7px; 
		background-color: #669999;
		border-bottom: 1px outset black;
		border-style: outset;
		border-top: 1px outset black;
		color: white;
		display: block;
		padding: 10px 16px 10px 10px;
		text-align: center;
		text-decoration: none;
	}

  #stats td {
    width: 310px;
  }

  #table_div {
    overflow:auto;
    height: 280px;
    background-color: white;
    border: 1px #eee solid;
    border-width: 1px;
  }
</style>


<script>
  function setInnerHtmlData(id,result,path) {
    td = document.getElementById(id);
    td.innerHTML = "<a href =" + path + ">" +  result + "</a>"
  }
</script>

<base target="_parent">
<div id="tab">
  <div class="panel" style="width:98%;">
    <h2>Create/Edit users</h2>
    <div id="table_div">

      <table id="stats">
        <% count = @reports.length  unless @reports.blank? %>
        <% (@reports || []).each do |name,path|
          count_up = 0
          count = 0 if @reports.blank?
        %>
          <% while count_up < count %>
            <tr>
              <td id = "<%=count_up+= 1%>"></td>
              <td id = "<%=count_up+= 1%>"></td>
              <td id = "<%=count_up+= 1%>"></td>
            </tr>
          <%end unless @reports.blank?%>
        <%end%>
      </table>


      <%
      count = @reports.length  unless @reports.blank?
      @reports.sort.reverse.map do | name , path | %>
        <script>
          setInnerHtmlData("<%=count%>","<%=name%>","<%=path%>");
        </script>
        <%count-=1%>
      <%end%>

    </div>
  </div>
</div>
</base>
